.backdrop {
  padding-top: 70px;
  width: 650px;
  margin: auto;
}
.board {
  transform: rotateX(180deg);
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 650px;
}
.head {
  margin: auto;
  cursor: default;
  background-color: #fed766;
  box-shadow: 5px 15px 18px #adadad;
  width: 650px;
}

.foot {
  margin: auto;
  cursor: default;
  background-color: black;
  box-shadow: 7px 15px 18px #888;
  height: 50px;
  width: 650px;
}
.title {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: black;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.main {
  background-color: black;
  width: 650px;
  height: 100%;
  margin: auto;
  box-shadow: 7px 15px 18px #888;
}

.btn {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.difficultyGroup {
  margin-bottom: 10px;
}

.difficultyButton {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.difficultyButton:hover {
  text-decoration: underline;
}

.difficultyButtonSelected {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.newGameButton {
  color: white;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  padding: 6px;
  border-radius: 2px;
  background-color: #17a2b8;
}

.newGameButton:hover {
  background-color: #1c8d9e;
}

.newGame {
  padding-bottom: 20px;
  padding-top: 5px;
}

@media only screen and (max-width: 650px) {
  .row{
    width: 100%;
  }
  .foot{
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .backdrop {
    width: 100%;
  }
  .head {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .backdrop {
    padding-top: 0;
  }
  .foot{
    height:400px
  }
}