.pieceBackground {
  background-color: blue;
}
.piece {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 10px;
}
.piece-empty {
  border: 2px solid black;
  background-color: white;
}

.piece-player {
  border: 2px solid black;
  background-color: red;
}

.piece-AI {
  border: 2px solid black;
  background-color: gold;
}

.piece-selector {
  width: 4vw;
  height: 4vw;
}

.piece-selector:hover {
  background-color: red;
  border: 2px solid black;
}

.piece-selector:hover::after {
  border-radius: 5px;
}
