.pieceBackground {
  background-color: blue;
}
.piece {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin: 10px;
}
.piece-empty {
  background-color: white;
}

.piece-player {
  background-color: red;
}

.piece-AI {
  background-color: gold;
}

.piece-selector {
  width: 3vw;
  height: 3vw;
}

.piece-selector:hover {
  background-color: red;
}
