.pieceBackground {
  background-color: blue;
}
.piece {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  margin: 0.5vw;
}
.piece-empty {
  border: 2px solid white;
  background-color: black;
}

.piece-player {
  border: 2px solid white;
  background-color: red;
}

.piece-AI {
  border: 2px solid white;
  background-color: gold;
}

.piece-selector {
  width: 4vw;
  height: 4vw;
}

.piece-selector:hover {
  background-color: red;
  border: 2px solid white;
  cursor: pointer;
}

.winningPiece {
  border: 4px solid #297d1f !important;
}
